DISCORD__TOKEN={DISCORD_TOKEN}
SPOTIFY__CLIENTID=
SPOTIFY__CLIENTSECRET=
LOGGING__LOGLEVEL__DEFAULT=Information
LOGGING__LOGLEVEL__SYSTEM=Warning
LOGGING__LOGLEVEL__MICROSOFT=Warning
LOGGING__LOGLEVEL__GRPC=Warning
LOGGING__LOGLEVEL__DISCORDMUSIC=Trace
# OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp.bycrookie.com
# OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-grpc.bycrookie.com
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20{BASE64_ENCODED_USERNAME_COLON_PLAIN_TEXT_PASSWORD}
# OTEL_SERVICE_NAME=discord-music-dev
OTEL_SERVICE_NAME=discord-music-dev-grpc
