services:
    discord-music:
        image: ghcr.io/bycrookie/discord-music:stable
        container_name: dm
        env_file:
            - .env
        volumes:
            - /var/tmp/dm/data:/data
        # platform: linux/arm64
        platform: linux/amd64
        restart: unless-stopped