services:
    discord-music:
        # image: ghcr.io/bycrookie/discord-music:latest
        container_name: dm
        build:
            dockerfile: Containerfile
            context: .
        env_file:
            - .env
        volumes:
            - /var/tmp/dm/data:/data
        # platform: linux/arm64
        platform: linux/amd64
        restart: no