name: Test OSX

permissions:
    contents: write

on:
    workflow_dispatch:
    push:

jobs:
    build:
        runs-on: macos-latest
        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   name: Setup dotnet
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: '10.0.102'

            -   name: Restore
                run: dotnet restore DiscordMusic.slnx
                working-directory: ./src

            -   name: Build
                run: dotnet build DiscordMusic.slnx --configuration Release --no-restore
                working-directory: ./src

            -   name: Test
                run: dotnet test --solution DiscordMusic.slnx --configuration Release --no-restore
                working-directory: ./src
